# ROS graph / DDS
ROS_DOMAIN_ID=0
RMW_IMPLEMENTATION=rmw_cyclonedds_cpp

# Raspberry Pi Tailscale IP. If the Pi IP changes, update this value and
# restart the Jetson container.
ROBOT_TAILSCALE_IP=100.102.66.116
JETSON_DDS_INTERFACE=tailscale0
JETSON_DDS_PARTICIPANT_INDEX=0
JETSON_DDS_CLI_PARTICIPANT_INDEX=1
CYCLONEDDS_URI=file:///tmp/cyclonedds.xml

# NVIDIA runtime defaults.
NVIDIA_VISIBLE_DEVICES=all
NVIDIA_DRIVER_CAPABILITIES=compute,utility,video
